<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>firstName: {{firstName}}</div>
    <div>lastName: {{lastName}}</div>
    <div>post: {{post}}</div>
    <div>salary: {{salary}}</div>
    <div>age: {{age}}</div>
    <div>experience: {{experience}}</div>
</body>
</html>